{{!< default}}

<main class="site-main">

    {{#post}}
        {{#contentFor "imageMeta"}}
            {{#if feature_image}}
                <meta property="og:image" content="{{feature_image}}" />
                <meta name="twitter:image" content="{{feature_image}}" />
            {{/if}}
        {{/contentFor}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>
