{{!< default}}

<main class="site-main">

    {{#post}}
        <meta property="og:image" content="{{feature_image}}" />
        <meta property="twitter:image" content="{{feature_image}}" />
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>