.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffcf0;
}

.site-content {
    flex-grow: 1;
    padding: 6vmin 0;
}

.is-head-brand .site-content {
    padding-top: max(8vmin, 5rem);
}

.page-template .site-content {
    padding-block: 0;
}

.homepage-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.homepage-section {
    flex: 1 1 calc(50% - 2rem);
    /* Take up half the width minus the gap */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .homepage-section {
        flex: 1 1 100%;
        /* Stack sections on smaller screens */
    }
}
